<html>

<head>
    <title>パタラン</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/test.css">
</head>

<body>
    <div class="center">
        <div class="title_text">
            Analyze Corner
        </div>
        <div class="block">
            <input class="textbox" type="text" id="field">
            <!-- <input class="textbox" type="text" style="width: 360px; height: 60px;" id="field"> -->
        </div>
        <div class=" block">
            <button class="entry" id="button_send">Enter</button>
        </div>
    </div>
    <div class="block center">
        <p class="output_text" id="val">
        </p>
    </div>

    <script>
        let field = document.getElementById("field")
        let value = document.getElementById("val")

        document.getElementById("button_send").onclick = function () {
            const method = "POST"
            const headers = {
                "Accept": "*/*",
                "Content-Type": "plain/text"
            }
            const body = field.value
            fetch("/analyze", { method, headers, body })
                .then((res) => res.text()).then((text) => {
                    value.innerHTML = body.replace('_',"<a class='strong'>"+text+"</a>")
                })
        }
    </script>
</body>

</html>